VITE_SUPABASE_URL=https://yghrkicevfbcwfafqytk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnaHJraWNldmZiY3dmYWZxeXRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1ODUxNzcsImV4cCI6MjA5MzE2MTE3N30.ZpibFJEiz3V9sh6IzLJMPbGZ2kSVN0hg_7ABTQLajD8